.formBox {
  width: 640px;
  height: 488px;
  border-radius: 10px;
  border: 1px solid var(--gray-light);
  padding: 32px;
  font: var(--font-body);
  color: var(--gray);

}



.formTitle {
  font: var(--font-h3);
  color: var(--main);
  margin-bottom: 8px;
}

.formSubText {
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formInput {
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--inputs);
  height: 48px;
  width: 100%;

}

.formTextArea {
  padding-top: 12px;
  height: 88px;
  margin-bottom: 8px;
  width: 100%;
  resize: none;
}

.sendBtn {
  width: 156px;
  height: 44px;
  background-color: var(--button);
  font: var(--font-button);
  border-radius: 12px;
  color: var(--white);
  margin: 0 auto;
}

.inputWrapper {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
}

.error {
  position: absolute;
  left: 0;
  bottom: -18px;
  pointer-events: none;

  color: red;
  font: var(--font-body);
  font-size: 12px;

}

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) {
  width: 100%;
}