.container {
  margin: 0 auto;
  max-width: 1440px;

  /*! Remove once tested*/
  /* border: 0.5px dashed orange; */
  /*! Remove once tested*/

}

.headerContainer {
  background-color: var(--header-bg);
}