.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 0 120px;
  background-color: var(--header-bg);

}

.navLinks {
  font: var(--font-body);
  display: flex;
  gap: 32px;
  color: var(--main);

}

.navItem:hover {
  color: var(--link-hover);
}